__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
htmlcov/
*.log
.mypy_cache/
.pytest_cache/
dist/
build/
*.egg-info/
.eggs/
*.egg
*.md
!README.md
.DS_Store